*{
    margin: 0;
    padding:0;
}
li{
    list-style: none;
}
body{
    font-family:SourceHanSansCN-Medium;
    color: #585858;
    background: #f7f7f7;
}
a{
    text-decoration: none;
}


/*头部标题栏*/
/*logo部分*/
#header{
    width: 100%;
    height: 60px;
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(224,224,224,0.50);
}
#header-box{
    width: 1024px;
    height: 100%;
    margin: 0 auto;
}
#header .title{
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    cursor: pointer;
}
.title span{
    margin-bottom: 10px;
    padding-left: 15px;
    font-style: normal;
    font-size: 20px;
    color: #5CC6D0;
    font-weight: bold;
    position: relative;
    bottom: 3px;
}
/*logo部分*/
/*搜索栏部分*/
#header .search-form{
    float: right;
    padding-top: 20px;
}
.search-form #search-text{
    background: transparent;
    color: #585858;
    font-size: 14px;
    text-align:justify;
    padding-right: 80px;
    padding-left: 20px;
    outline:none;
    border: 0;
    border-left: 1px solid #979797;
    border-right: 1px solid #979797;
}
.search-form #search-btn{
    background: url(../img/Search.png) no-repeat;
    vertical-align: middle;
    border: 0;
    margin-left: 10px;
    padding-right: 30px;
    outline:none;
    cursor: pointer;
}
/*搜索栏部分*/
/*头部标题栏*/

/*主体部分*/
#wrapper{
    width: 1024px;
    margin: 20px auto;
}
/*相关高校*/
.title_box{
    width: 100%;
    height: 40px;
    background: #5CC6D0;
    text-align: center;
}
.title_box span{
    line-height: 40px;
    color: #FFFFFF;
    font-size: 16px;
}
.school_box{
    width: 100%;
}
.school_box li{
    width: 1022px;
    height: 100px;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
}
.img_box{
    width: 140px;
    height: 100px;
    float: left;
    text-align: center;
}
.school_icon{
    width:70px;
    height: 60px;
    padding-top: 20px;
}
.school_message{
    margin-top: 25px;
    float: left;
    padding-left: 40px;
    border-left: 1px solid #979797;
}
.school_message h1{
    font-style: normal;
    font-size: 20px;
    color: #585858;
}
.school_message p{
    font-size: 14px;
    font-style: normal;
    color:#585858;
}
.right_arrow{
    float: right;
    width: 14px;
    height: 14px;
    padding-right: 60px;
    padding-top: 43px;
}
/*相关高校*/


/*相关事件*/
.event_info .right_arrow{
    float: right;
    width: 14px;
    height: 14px;
    padding-right: 60px;
    padding-top: 20px;
}
#wrapper .related_events{
    width: 1024px;
    margin: 20px auto;
}
.rank_title{
    width: 100%;
    height: 40px;
    background: #5CC6D0;
}
.rank_title .title_name{
    line-height: 40px;
    text-align: center;
}
.title_name img{
    position: relative;
    top:2px;
}
.title_name span{
    padding-left: 3px;
    font-size: 16px;
    color: #fff;
}
.related_events ul li{
    width: 1022px;
    height: 50px;
    border: 1px solid #E6E6E6;
    clear: both;
    cursor: pointer;
}
.related_events ul a:nth-child(even) li{
    background: #F5F5F5;
}
.related_events ul a:nth-child(odd) li{
    background: #ffffff;
}
.related_events ul li span{
    display: inline-block;
    line-height: 50px;
    overflow: hidden;
    font-size: 14px;
    color: #858585;
}
.r2{
    display: inline-block;
    overflow: hidden;
    padding-top: 18px;
    padding-right: 60px;
    float: right;
    width: 14px;
    height: 14px;
}
.order_num{
    width: 115px;
    height: 50px;
    text-align: center;
}
/*相关事件*/
/*主体部分*/

/*底部*/
#footer{
    margin-top: 81px;
    margin-bottom: 43px;
}
#footer p{
    text-align: center;
    font-size: 10px;
    color:#858585;
}
/*底部*/